<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <h1>The Page is currently being updated.</h1>
    <p>Only a few minutes more to go</p>
  </body>
</html>
